%h2 About Effectif

:markdown
  Effectif Development is the home of
  [Graham Ashton](http://grahamashton.net), a freelance web developer and
  software engineer based in London.

  If you're interested in hiring me for some freelancing work, you can reach
  me at [graham@effectif.com](mailto:graham@effectif.com).

  You can follow me on twitter [here](http://twitter.com/grahamashton).
