.wrapper

    
.wrapper-bottom
  .sitemap
    .section.first
      %h4 
        %a{:href => "/work"} Work/Clients
      %ul
        %li 
          %a{:href => "/work#project:lambert-bridge"} Lambert Bridge
        %li 
          %a{:href => "/work#project:crystal-mountain"} Crystal Mountain
        %li 
          %a{:href => "/work#project:chateau-michelle"} Chateau Ste. Michelle
        %li 
          %a{:href => "/work#project:nikeplus"} Nike+ Application
        %li 
          %a{:href => "/work#project:imagekind"} Imagekind
        %li 
          %a{:href => "/work#project:olson-kundig"} Olson Kundig
        %li 
          %a{:href => "/work#project:atigeo"} Ategio
        %li 
          %a{:href => "/work#project:windows-home-server"} Windows Home Server
        
    .section
      %h4 
        %a{:href => "/team"} Founding team
      %ul
        %li 
          %a{:href => "/team"} William Prater
        %li 
          %a{:href => "/team"} Brian McGarvey
        %li 
          %a{:href => "/team"} Shawn Herron
      
    .section
      %h4 
        %a{:href => "/capabilities"} Capabilities
      %ul
        %li 
          %a{:href => "/capabilities"} Strategy
        %li 
          %a{:href => "/capabilities"} Experience Design
        %li 
          %a{:href => "/capabilities"} Technology

    .section.address
      %h4 Contact us
      %address
        The Superformula
        %br>          
        911 Western Ave. Suite 420
        %br>          
        Seattle, WA 98104
      %p
        Tele +1.206.217.4595
        %br>
        Fax +1.206.374.8120

      .actions
        %p 
          %a.callout{:href => "mailto:newbusiness@thesuperformula.com"} New Business Inquiries
        
    .section
      %h4 Find us on
      .social
        %a.icon.facebook{:href => 'http://facebook.com/TheSuperformula', :title => "Facebook"} 
          %img{:src => '/images/empty.gif'}
          %span Facebook
        %a.icon.twitter{:href => 'http://twitter.com/TheSuperformula', :title => "Twitter"} 
          %img{:src => '/images/empty.gif'}
          %span Twiiter
        %a.icon.linkedin{:href => 'http://www.linkedin.com/companies/the-superformula', :title => "LinkedIn"} 
          %img{:src => '/images/empty.gif'}
          %span LinkedIn
        %a.icon.lastfm{:href => 'http://www.last.fm/user/TheSuperformula', :title => "Last.fm"} 
          %img{:src => '/images/empty.gif'}
          %span Last.fm
      %p 
        %form#newsletter-subscribe
          %label.callout.newsletter + Sign up for newsletter
          %input{:name => "email", :type => "text", :value => "Enter your email", :class => "hint"}
          
          