.wrapper

    
.wrapper-bottom
  .sitemap
    .section.first
      %h4 Work/Clients
      %ul
        %li blah
        
    .section
      %h4 Founding team
      %ul
        %li William Prater
        %li Brian McGarvey
        %li Shawn Herron
      
    .section
      %h4 Capabilities
      %ul
        %li Strategy
        %li Experience Design
        %li Technology

    .section.address
      %h4 Contact us
      %p
        %address
          The Superformula
          %br>          
          911 Western Ave. Suite 420
          %br>          
          Seattle, WA 98104
        %br>          
        Tele +1.206.217.4595
        %br>
        Fax +1.206.374.8120

      .actions
        %p 
          %a{:href => "mailto:newbusiness@thesuperformula.com"} New Biz Inquiries
        %p 
          %a.newsletter{:href => "#newsletter"} + Sign up for newsletter
        
    .section
      %h4 Find us on
      .social
        %a.icon.facebook{:href => 'http://facebook.com/TheSuperformula', :title => "Facebook"} 
          %img{:src => 'images/empty.gif'}
          %span Facebook
        %a.icon.twitter{:href => 'http://twitter.com/TheSuperformula', :title => "Twitter"} 
          %img{:src => 'images/empty.gif'}
          %span Twiiter
        %a.icon.linkedin{:href => 'http://www.linkedin.com/companies/the-superformula', :title => "LinkedIn"} 
          %img{:src => 'images/empty.gif'}
          %span LinkedIn
        %a.icon.lastfm{:href => 'http://www.last.fm/user/TheSuperformula', :title => "Last.fm"} 
          %img{:src => 'images/empty.gif'}
          %span Last.fm
    

  / .social
  /   %a.icon.facebook{:href => 'http://facebook.com/TheSuperformula'} Facebook
  /   %a.icon.twitter{:href => 'http://facebook.com/TheSuperformula'} Twiiter
  /   %a.icon.linkedin{:href => 'http://facebook.com/TheSuperformula'} LinkedIn
  /   %a.icon.grooveshark{:href => 'http://facebook.com/TheSuperformula'} Rock out like The Super does
  /   %a.icon.mailinglist{:href => 'http://facebook.com/TheSuperformula'} Join our mailing list
