%h1
  The Superformula
  
%a{:href => "/"}
  %img.company-logo{:src => "/images/logo.png", :alt => "The Superformula", :title => "The Superformula"}

#miscroscope
  #main-nav
    %ul.navigation
      %li
        %a{:href => '/work'} Work
      %li
        %a{:href => '/process'} Process
      %li 
        %a{:href => '/team'} Team
      %li 
        %a{:href => '/capabilities'} Capabilities
