!!! 5
%html
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html; charset=utf-8" }
    - if @description
      %meta{ "name" => "description", "content" => @description }
    - if @keywords
      %meta{ "name" => "keywords", "content" => @keywords }
    %title= @title

    %link{ :href => "http://yui.yahooapis.com/3.0.0/build/cssreset/reset-min.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "http://yui.yahooapis.com/3.0.0/build/cssfonts/fonts-min.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/stylesheets/thesuper.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/stylesheets/carousel.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }

    %link{ :href => "/articles.xml", :rel => "alternate", :type => "application/atom+xml" }

    / ExtJs
    - if production?
      %script{:src => "/javascripts/ext-3.1.1/adapter/ext/ext-base.js", :type => "text/javascript"}
      %script{:src => "/javascripts/ext-3.1.1/ext-all.js", :type => "text/javascript"}
    - else
      %script{:src => "/javascripts/ext-3.1.1/adapter/ext/ext-base-debug.js", :type => "text/javascript"}
      %script{:src => "/javascripts/ext-3.1.1/ext-all-debug.js", :type => "text/javascript"}

    / Cufon
    %script{:src => "/javascripts/cufon-yui.js", :type => "text/javascript"}
    %script{:src => "/fonts/berling_400-berling_italic_400.font.js", :type => "text/javascript"}
    %script{:src => "/fonts/avenir_400-avenir_oblique_400.font.js", :type => "text/javascript"}
    %script{:src => "/fonts/helvetica-neue_400.font.js", :type => "text/javascript"}    
    / Font replacements
    :javascript
      // Header and Footer
      Cufon.replace('#main-nav li a', {fontFamily: 'avenir', hover: true});
      Cufon.replace('blockquote, #ft h4', {fontFamily: 'berling'});
      // Home and Process Quotes
      Cufon.replace('.quote', {fontFamily: 'berling'});
      // Process Fonts
      Cufon.replace('#slide-stage .step-name, #slide-stage .step-tagline', {fontFamily: 'avenir'});
      // Home
      Cufon.replace('.home #slide-stage h1, .home #slide-stage h3', {fontFamily: 'avenir'});
      // Work Header
      Cufon.replace('#stage-project h1', {fontFamily: 'berling'});

      
      Cufon.replace('h1, h2:not(.step-name), h3:not(.step-tagline)', {fontFamily: 'berling'});
      

    / TSF Site scripts
    %script{:src => "/javascripts/thesuper.js", :type => "text/javascript"}
    %script{:src => "/javascripts/site/slides.js", :type => "text/javascript"}
    %script{:src => "/javascripts/site/home_slides.js", :type => "text/javascript"}
    %script{:src => "/javascripts/site/process_slides.js", :type => "text/javascript"}
    %script{:src => "/javascripts/site/work_slides.js", :type => "text/javascript"}
    %script{:src => "/javascripts/site/feed.js", :type => "text/javascript"}
    %script{:src => "/javascripts/carousel.js", :type => "text/javascript"}
        
  %body{ :id => 'body', :class => @body_class }
    :javascript
      Ext.onReady(function(evt) {
        if (Ext.isIE) {
          var dh = Ext.DomHelper;
          dh.append('body', {tag: 'iframe', id: 'x-history-frame', src: '/images/empty.gif'});
        }    
      });
    %input{:id => "x-history-field", :type => "hidden"}
    
    .site-wrapper
      #hd
        =haml :header, :layout => false
      
      #bd
        = yield

      #ft
        =haml :footer, :layout => false

    = haml :analytics, :layout => false
