/* @override 
	http://www.thesuperformula.com/thesuper/stylesheets/thesuper.css
	http://www.thesuperformula.com:4567/stylesheets/thesuper.css
	http://thesuperformula.com:4567/stylesheets/thesuper.css
	http://localhost:9393/stylesheets/thesuper.css
*/

/* @group Layout */

html {
	background: #fff url(../images/site_bg.png) repeat-x top center;
}

body .site-wrapper {
	background-color: #fff;
	width: 958px;
	margin: 0 auto;
}

#hd, #bd, #ft {
	padding: 0 50px 0 80px;
}

.work #bd {
	padding-left: 59px;
}

#hd {
	position: relative;
	height: 85px;
	padding-top: 30px;
	padding-left: 22px;
}

#bd {
	padding-top: 10px;
}

#bd .wrapper {
	padding-left: 60px;
}

.capabilities #bd {
	padding-left: 165px;
}

/* Main margin for the body */
/*#bd > *, #ft > * {
	padding-left: 30px;
}*/

/* @end */

/* @group Element Styles */

#yui-history-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  visibility: hidden;
}

p {
	font-family: Arial;
	line-height: 18px;
	color: #9c9c9d
}

strong {
	color: #5c707c;
}

a {
	text-decoration: none;
	color: #00a7e5;
}

a:hover {
	text-decoration: underline;
	color: #5c707c;
}

ul.navigation {
	overflow: hidden;
}

ul.navigation li {
	float: left;
}

h1 {
	font: normal 30px Georgia, serif;
	/*color: #00a7e5;*/
	color: #00b6ec;
	margin-bottom: 20px;
}

h2 {
	font: normal 22px Georgia, serif;
	/*color: #00a7e5;*/
	color: #00b6ec;
	margin-bottom: 8px;
}

h2.manifesto {
	font: normal 30px Georgia, serif;
	/*color: #00b6ec;*/
	color: #00b6ec;
	margin-top: -44px;
	margin-bottom: 27px;
}

h3 {
	margin-bottom: 8px;
	font: normal 18px Georgia, serif;
	color: #5c707c;
}

h3 span,
h4 span {
	color: #00b6ec;
}

h4 {
	font: normal 15px Georgia, serif;
	color: #00b6ec;
	margin: 20px 0 4px;
}

.excerpt {
	margin-bottom: 30px;
	width: 80%;
}

/* @group Project Slides */

#slide-stage {
	position: relative;
}

#project-slides {
	position: relative;
}

#project-slides .steps,
#project-slides .overlay,
#project-slides #stage-image,
#project-slides #stage-image img.scene,
#project-slides #stage-image img.object,
#project-slides .steps .step {
	position: absolute;
	width: 878px;
	height: 555px;
}

#process-map .steps .step,
#project-slides .steps .step {
	display: none;
}

#process-map .steps,
#project-slides .steps {
	position: relative;
}

/* @end */


/* @end */

/* @group Navigation */

/* @end */

/* @group Header */

#hd h1,
.home h1.header {
	text-indent: -9999px;
	position: absolute;
	/*width: 50px;
	height: 75px;*/
	/*background: url(../images/logo.png) bottom no-repeat;*/
}

#hd img.company-logo {
	float: left;
}

/*#microscope {
	float: right;
	width: 300px;
	height: 100%;
	background: url(../images/header_bg.png) top right no-repeat;
}*/

/* @group Main nav */

#main-nav {
	margin: 28px 0 0;
	float: right;
}

#main-nav ul {

}

#main-nav ul li {
	margin-left: 58px;
	/*text-transform: uppercase;*/
	font: normal 11px Arial;
	letter-spacing: 1px;
	padding-left: 2px;
	/*border-bottom: solid 1px #fff;*/
}

#main-nav ul li a {
	text-transform: uppercase;
	text-decoration: none;
	color: #00b6ec;
}

#main-nav ul li a:hover,
#main-nav ul li a.active {
	color: #5c707c;
	/*border-bottom: solid 1px #5c707c;*/
}

/* @end */



/* @end */

/* @group Body */



/* @end */

/* @group Footer */

#ft {
	margin-top: 75px;
	padding-bottom: 15px;
	padding-left: 0;
	color: #bbb;
	font-size: 11px;
	line-height: 16px;
}

#ft a {
	color: #bbb;
}

#ft a:hover {
	color: #00a7e5;
}

#ft .wrapper {
	position: relative;
	height: 85px;
	padding-left: 270px;
	background: #fff url(../images/footer_bg.png) 20px bottom no-repeat;
}

/* @group general info */

#ft address {
	/*width: 160px;*/
	float: left;
}


/* @end */

/* @group Social Links */

/*#ft .social {
	position: absolute;
	left: 400px;
	bottom: 5px;
	display: -moz-inline-stack;
	display: inline-block;
	margin-top: 15px;
}*/

#ft .social {
	margin-top: 6px;
}

#ft .sitemap .actions {
	margin-top: 5px;
	overflow: auto;

}

#ft .social a span {
	display: -moz-inline-stack;
	display: inline-block;
	width: 0px;
	text-indent: -9999px;
	overflow: hidden;
}

/*.social .icon {
	display: -moz-inline-stack;
	display: inline-block;
	padding-left: 20px;
	margin-right: 10px;
	height: 19px;
}*/

.social .icon img {
	width: 16px;
	height: 16px;
}

.social .facebook img {
	background: url(../images/facebook_16.png) no-repeat;
}
.social .twitter img {
	background: url(../images/twitter_16.png) no-repeat;
}
.social .linkedin img {
	background: url(../images/linkedin_16.png) no-repeat;
}
.social .grooveshark img {
	background: url(../images/grooveshark_16.png) no-repeat;
}
.social .lastfm img {
	background: url(../images/lastfm_16.png) no-repeat;
}



/* @end */

/* @group sitemap */

#ft .wrapper-bottom {
	overflow: auto;
	width: 100%;
}

#ft .sitemap {
	/*margin-top: -6px;*/
	overflow: auto;
}

/*#ft .sitemap .actions {
	overflow: auto;
	float: left;
}*/
/*#ft .sitemap .actions a {
	float: left;
}*/


#ft .sitemap a {
	color: #00b6ec;
}

#ft .sitemap .actions p {
}

#ft .sitemap .section {
	/*display: -moz-inline-stack;
	display: inline-block;*/
	float: left;
	padding: 0 25px 0 3px;
	margin-right: 4px;
	border-top: 6px solid #00b6ec;
	width: auto;
}

#ft .sitemap .section.first {
	padding-left: 15px;
}

#ft .sitemap a {
	text-decoration: none;
}

#ft .sitemap h4 {
	font-style: italic;
	font-family: Times;
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 4px;
}

#ft .sitemap h4,
#ft .sitemap h4 a {
	color: #6a6b6b;
}

#ft .sitemap ul {
	float: left;
}



/* @end */

/* @end */

/* @group Home */

#project-slides .overlay {
	background: url(../images/home_overlay.png) no-repeat;
}

#project-slides #stage-image img.object {
	position: absolute;
	bottom: 0;
	
}

.home .quote {
	position: absolute;
	right: 0;	
	width: 50%;
	background-color: #fff;
	color: #00b6ec;
	padding: 20px;
	padding-right: 35px;
	padding-bottom: 13px;
	/*z-index: 10;*/
}

.home .quote blockquote {
	text-align: right;
	font: normal 28px/30px Georgia;
}

.home .quote blockquote a {
	display: inline-block;
	font: italic 13px Georgia, serif;
	color: #fff;
	width: 124px;
	height: 28px;
	padding: 5px 0 0 0;
	margin-left: 5px;
	background: url(../images/home_manifeto_help_btn.png) no-repeat;
	text-align: center;
}

.home .quote blockquote a:hover {
	text-decoration: none;
}

.home #slide-stage h1,
.home #slide-stage h3 {
	position: absolute;
	background-color: #fff;	
	margin-left: 60px;
	padding: 8px 5px;
}

.home #slide-stage h1 {
	top: 200px;
	margin-left: 60px;
	font: normal 22px Verdana, sanns-serif;
	color: #00b6ec;
}

.home #slide-stage h3 {
	top: 250px;
	font-size: 15px;
}

#project-slides a.next,
#project-slides a.prev {
	position: absolute;
	top: 210px;
}

#project-slides a.prev {
	left: 0;
}

#project-slides a.next {
	right: 0;
}

#project-slides a.prev img,
#project-slides a.next img {
	width: 25px;
	height: 60px;
	background: url(../images/home_slide_btn.png) no-repeat;
}

#project-slides a.prev img {
	background-position: -20px;
}

#project-slides a.next img {
	background-position: 6px;
}

/* @end */

/* @group Services */

.services-container {
	width: 65%;
}

.service-item p {
	margin-bottom: 25px;
}

/* @end */

/* @group Team */

.team-partners {
	margin-top: 50px;
	width: 97%;
}

.team-partners .item {
	overflow: auto;
	margin-bottom: 40px;
}

.team-partners .item img {
	float: left;
}

.team-partners .item .copy {
	margin-left: 280px;
}

.team-partners .item h2 {
	padding: 15px 0 0;
	margin: -10px 0 15px;
	font: italic 14px Georgia;	
}

.team-partners .item h2 span {
	padding: 5px 9px;
	margin-right: 15px;
	font: normal 22px Georgia;
	color: #fff;
	background-color: #00b6ec;
}

/* @end */

/* @group Process */

#process-map {
	margin-bottom: 45px;	
}

#process-map .quote {
	position: absolute;
	right: 0;	
	width: 50%;
	background-color: #fff;
	color: #00b6ec;
	padding: 20px;
	padding-right: 35px;
	padding-bottom: 13px;
	/*z-index: 10;*/
}

#process-map .quote blockquote {
	text-align: right;
	font: normal 24px/30px Georgia;
}

#process-map .quote cite {
	float: right;
	font: italic 12px Georgia;
	color: #b2b4b4;
	margin-top: 10px;
}
	
#process-map .steps {
	position: relative;
}

#process-map .steps,
#process-map .overlay,
#process-map #stage-image,
#process-map #stage-image img.scene,
#process-map .steps .step {
	width: 878px;
	height: 457px;
}

#process-map .overlay,
#process-map #stage-image {
	position: absolute;
}

#process-map .overlay {
	background: url(../images/process_overlay.png) no-repeat;
}

/*#process-map.discovery #stage-image {
	background: url(../images/process_discovery.jpg) no-repeat;
}
#process-map.strategy #stage-image {
	background: url(../images/process_strategy.jpg) no-repeat;
}
#process-map.creation #stage-image {
	background: url(../images/process_creation.jpg) no-repeat;
}
#process-map.delivery #stage-image {
	background: url(../images/process_delivery.jpg) no-repeat;
}
#process-map.optimization #stage-image {
	background: url(../images/process_optimization.jpg) no-repeat;
}*/

#process-map .step h1,
#process-map .step h3,
#process-map .step .copy {
	position: absolute;	
	top: 160px;
	background-color: #fff;
	padding: 10px;
}

#process-map .step h1 {
	margin: 0;
	padding: 3px 25px 7px 53px;
	font: normal 22px Verdana, sanns-serif;
	color: #00b6ec;
}

#process-map .step h3 {
	top: 215px;
	font-size: 15px;
	margin-left: 45px;
}

#process-map .step .copy {
	overflow: hidden;
	top: 260px;
	width: 65%;
	margin-left: 45px;
	padding: 0;
	background: none;
}

#process-map .step p {
	padding: 10px;
	background-color: #fff;
}


#process-map .step a.next-step {
	padding: 8px 22px 6px 13px;
	margin-top: -1px;
	/*padding-bottom: 9px;
	padding-right: 22px;*/
	text-align: right;
	background: url(../images/process_next_btn.png) no-repeat right;
	text-transform: uppercase;
	font: normal 12px Georgia, serif;
	color: #fff;
	float: right;
}

/* @end */

/* @group Work */

.work h2 {
	font-size: 30px;
}

#project-tip {
	width: 173px;
	height: 50px;
	padding: 8px 0 0 8px;
	background: url(../images/work_projects_tip_bg.png) no-repeat;
}

#project-tip .x-plain-body {
	font-size: 11px;
	color: #b1aeae;
}

#project-tip .x-plain-body .client {
	font-size: 11px;
	color: #00b6ec;
}

#stage-project {
	position: relative;
	padding-left: 102px;
	height: 435px;
	background: url(../images/work_stage_bg.png) no-repeat -2px -5px;
}

#stage-project .navigation {
	display: none;	
}

#stage-project .navigation .prev,
#stage-project .navigation .next {
	position: absolute;
	width: 35%;
	height: 100%;
	background: url(../images/work_stage_arrow_btn.png) no-repeat;
	cursor: pointer;
}

#stage-project .navigation .prev {
	left: 0;
	background-position: -45px center;
}

#stage-project .navigation .next {
	right: 0;
	background-position: 215px center;
}

#stage-project h1 {
	float: left;
	font: italic 20px/25px Georgia, serif;
	color: #fff;
	background-color: #00b6ec;
	padding: 4px 20px 6px;
}

.work #stage-image,
#stage-project .overlay,
#stage-project .navigation {
	position: absolute;
	top: 35px;
	width: 747px;
	height: 396px;
}

#stage-project .overlay {
	background: url(../images/work_stage_overlay.png) no-repeat;
}

#stage-image .images img {
	position: absolute;
	top: 0;
}

#stage-project .description {
	position: absolute;
	right: 0;
	width: 58%;
	z-index: 20;
}

#stage-project .description .expand {
	text-align: right;
	font: italic 11px Georgia, serif;
	color: #00b6ec;
	margin-top: 15px;
}

#stage-project .description .expand a {
	padding-right: 18px;
	/*width: 85px;
	height: 11px;*/
	background: url(../images/plus_icon.png) top right no-repeat;
	text-decoration: none;
	color: #00b6ec;
}

#stage-project .description .expand a.is-open {
	background-position: right -10px;
	padding-left: 85px;
}

#stage-project .description .copy {
	display: none;
	padding: 30px;
	background-color: #fff;
}

#stage-project .description .copy p {
	font-size: 12px;
}

#work-slides .projects {
	margin: 14px 0 0 99px;
	overflow: hidden;
	width: 790px
}

#work-slides .projects .project {
	position: relative;
	float: left;
	width: 174px;
	height: 94px;
	background-color: #ebebeb;
	margin-right: 18px;
	margin-bottom: 18px;
}

#work-slides .projects .project.active .overlay {
	display: none;
}

#work-slides .projects .project img.thumb {
	width: 173px;
	height: 94px;
	cursor: pointer;
}

#work-slides .projects .data {
	display: none;
}

.work .awards-wrap {
	margin-top: 65px;
	margin-left: 100px;
}
.work ul.awards {
	text-indent: -9999px;
	background: url(../images/awards.png) no-repeat;
}
/* @end */






